html {
    background-color: #D4E4BC;
    color: #040f16;
    font-size: 16px;
    width: 100%;
    height: 100%;
}
header {
    display: inline-flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #0B4F6C;
    height: 65px;
}
header li {
    display: inline-block;
    font-weight: bolder;
    font-size: 1.3rem;
    text-align: center;
    width: 10rem;
}
nav {
    position: relative;
    padding-left: 700px;

}
body {
    position: relative;
    margin: 0;
}
.big {
    background-color: #040F16;
    background-image: url(../HTML/images/bigwelcome.svg);
    background-size: cover;
    color: #D4E4BC;
    height: 17rem;
    /* text-align: center; */
    position: fixed;
    top: 3.75rem;
    z-index: 1;
    width: 100%;
    display: flex;
    margin: 0;
    background-size: cover;


}
.big h1 {
    text-align: center;
    padding: 100px;
    margin: auto;
}
.container1 {
    position: relative;
    top: 330px;
    z-index: 2;
    display: inline-flex;
}
.container1 div img {
    width: 100%;
    height: 50%;
    }

footer {
    position: relative;
    z-index: 3;
    top: 330px;
    width: 100%;
    height: 5rem;
    display: flex;
    background-color: #558564;
}
.cr {
    text-align: center;
    font-weight: bolder;
    margin: auto;
    padding: 0 200px 50px 200px;
}